apiVersion: v1
kind: Secret
metadata:
  name: pv1
type: Opaque
data:
  MONGO_ROOT_USERNAME: PLACEHOLDER
  MONGO_ROOT_PASSWORD: PLACEHOLDER
  MONGO_USERNAME: PLACEHOLDER
  MONGO_PASSWORD: PLACEHOLDER
  MONGO_USERS_LIST: PLACEHOLDER